.wrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.content {
    width: 100%;
    height: 100%;
}

.bgimage {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Header */

header {
    width: 100%;
    height: 100vh;
    background-color: var(--h-clr);
}

.header_inner {
    width: 100%;
    height: 100%;
}

.header_inner > .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header_inner > .title > h1 {
    font-size: 4em;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

section {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    width: 100%;
    height: 100vh;
    padding: 30px;
}

section > .title {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.section_inner {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section_inner.s1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section_inner p {
    text-align: justify;
}

.section_inner h4 {
    text-align: center;
}

section:nth-child(1) {
    background-color: var(--s-clr-1);
}

section:nth-child(2) {
    background-color: var(--s-clr-2);
}

section:nth-child(3) {
    background-color: var(--s-clr-3);
}

section:nth-child(4) {
    background-color: var(--s-clr-4);
}

.title {
    width: 100%;
    height: fit-content;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

/* Footer */