:root {
    --text-color: #2f343b;
    --bg-color: #fff7ec;
    --black-wall: #00000050;

    --h-clr: #eccfa8;
    --s-clr-1: #c8e6c9;
    --s-clr-2: #f0f4c3;
    --s-clr-3: #ffcc80;
    --s-clr-4: #ff8a80;
}